<div class="row">
  <div class="col-md-12">
    <h1><%= @question.title %></h1>
    <div>
      content: <%= @question.content %>
    </div>
    <div>
      Name: <%= @question.name %>
    </div>
    <hr>
    <div>
      <%= link_to '> Home', root_path %>
    </div>
  </div>
</div>